Repository hernikplays/opencanteen, changes with the labels that .github/labeler.yml gives for each.
All labels: pr: pubspec, pr: funkce, pr: okno

.github/labeler.yml:

'pr: pubspec':
- pubspec.yaml

'pr: funkce':
- lib/*

'pr: okno':
- lib/okna/*

docs: aktualizovat kontakt v PP
  PRIVACY.md
Labels: none

chore(npm): odstranit husky skript
  package.json
Labels: none

feat(autoburza): vytvořit základ pro autoburzu
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  ios/Runner/Info.plist
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/nastaveni.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: vylepšit podporu pro android 13
  CHANGELOG.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/values/colors.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  assets/fore.png
  ios/Runner/AppDelegate.swift
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  lib/main.dart
  lib/okna/nastaveni.dart
  package.json
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: zachování zapnutí skrz flutter_background
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

chore(metadata): vytvořit F-Droid metadata
  metadata/cs-CZ/changelogs/22.txt
  metadata/cs-CZ/full_description.txt
  metadata/cs-CZ/phoneScreenshots/1.png
  metadata/cs-CZ/phoneScreenshots/2.png
  metadata/cs-CZ/phoneScreenshots/3.png
  metadata/cs-CZ/phoneScreenshots/4.png
  metadata/cs-CZ/phoneScreenshots/5.png
  metadata/cs-CZ/short_description.txt
  metadata/en-US/changelogs/22.txt
  metadata/en-US/full_description.txt
  metadata/en-US/images/icon.jpg
  metadata/en-US/images/phoneScreenshots/1.png
  metadata/en-US/images/phoneScreenshots/2.png
  metadata/en-US/images/phoneScreenshots/3.png
  metadata/en-US/short_description.txt
  metadata/en-US/title.txt
Labels: none

chore: update gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Labels: none

chore(flutter): přejít na flutter wrapper
  .gitmodules
  .vscode/settings.json
  flutterw
Labels: none

feat(notifikace): přenést background notifikaci do main.dart
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/cz/hernikplays/opencanteen/MainActivity.kt
  lib/main.dart
  lib/okna/jidelnicek.dart
Labels: pr: funkce, pr: okno

chore(flutter): přejít na flutter wrapper
  .gitmodules
  .vscode/settings.json
  flutterw
Labels: none

chore: přesunout screenshoty do správné složky
  metadata/cs-CZ/images/phoneScreenshots/1.png
  metadata/cs-CZ/images/phoneScreenshots/2.png
  metadata/cs-CZ/images/phoneScreenshots/3.png
  metadata/cs-CZ/images/phoneScreenshots/4.png
  metadata/cs-CZ/images/phoneScreenshots/5.png
Labels: none

feat: umožnit ukládat více dnů offline
  CHANGELOG.md
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  metadata/cs-CZ/changelogs/23.txt
  metadata/en-US/changelogs/23.txt
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: podpora pro apk split + aktualizace knihovny
  CHANGELOG.md
  android/app/build.gradle
  metadata/cs-CZ/changelogs/24.txt
  metadata/en-US/changelogs/24.txt
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec

docs: odstranit FOSSA odznak a přidat odkazy na přispění
  README.md
Labels: none

feat: opravit a rozdelit iOS
  .metadata
  CHANGELOG.md
  README.md
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  lib/main.dart
  lib/okna/android/burza.dart
  lib/okna/android/jidelnicek.dart
  lib/okna/android/login.dart
  lib/okna/android/nastaveni.dart
  lib/okna/android/offline_jidelnicek.dart
  lib/okna/android/welcome.dart
  lib/okna/ios/burza.dart
  lib/okna/ios/jidelnicek.dart
  lib/okna/ios/login.dart
  lib/okna/ios/nastaveni.dart
  lib/okna/ios/offline_jidelnicek.dart
  lib/okna/ios/welcome.dart
  lib/util.dart
  metadata/cs-CZ/changelogs/25.txt
  metadata/en-US/changelogs/25.txt
  pubspec.yaml
Labels: pr: pubspec, pr: funkce

fix: optimalizovat a upravit barvy
  CHANGELOG.md
  lib/okna/android/jidelnicek.dart
  lib/okna/android/login.dart
  lib/okna/android/nastaveni.dart
  lib/okna/android/offline_jidelnicek.dart
  lib/okna/ios/login.dart
  lib/okna/ios/nastaveni.dart
  lib/okna/ios/offline_jidelnicek.dart
  metadata/cs-CZ/changelogs/25.txt
  metadata/en-US/changelogs/25.txt
Labels: none

fix: opravit problém s burzou
  CHANGELOG.md
  lib/okna/android/jidelnicek.dart
  metadata/cs-CZ/changelogs/26.txt
  metadata/en-US/changelogs/26.txt
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec

fix: vratit UI zmeny
  lib/main.dart
  lib/okna/android/offline_jidelnicek.dart
  lib/okna/burza.dart
  lib/okna/ios/burza.dart
  lib/okna/ios/jidelnicek.dart
  lib/okna/ios/login.dart
  lib/okna/ios/nastaveni.dart
  lib/okna/ios/welcome.dart
  lib/okna/jidelnicek.dart
  lib/okna/login.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  lib/okna/welcome.dart
  lib/util.dart
Labels: pr: funkce, pr: okno

chore: update Flutter
  pubspec.lock
Labels: none

fix: přepsat Platform UI a zmenit RefreshIndicator
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/loginmanager.dart
  lib/main.dart
  lib/okna/burza.dart
  lib/okna/jidelnicek.dart
  lib/okna/login.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  lib/okna/welcome.dart
  lib/pw/platformbutton.dart
  lib/pw/platformdialog.dart
  lib/pw/platformfield.dart
  lib/pw/platformswitch.dart
  lib/pw/platformwidget.dart
  lib/util.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

feat: Material 3
  lib/color_schemes.g.dart
  lib/main.dart
Labels: pr: funkce

feat: předělat jazykový systém
  l10n.yaml
  lib/l10n/app_cs.arb
  lib/l10n/app_en.arb
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/burza.dart
  lib/okna/jidelnicek.dart
  lib/okna/login.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  lib/okna/welcome.dart
  lib/util.dart
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: locale?
  ios/Runner/Info.plist
Labels: none

chore: aktualizovat secure_storage
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec

chore: aktualizovat changelogy
  CHANGELOG.md
  metadata/cs-CZ/changelogs/27.txt
  metadata/en-US/changelogs/27.txt
Labels: none

chore(dependencies): :arrow_up: update závislostí
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec

docs: přidat info o změně na git
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
Labels: none
