Repository hernikplays/opencanteen, changes with the labels that .github/labeler.yml gives for each.
All labels: pr: pubspec, pr: funkce, pr: okno

.github/labeler.yml:

'pr: pubspec':
- pubspec.yaml

'pr: funkce':
- lib/*

'pr: okno':
- lib/okna/*

ci: kontrolovat pull requesty
  .github/workflows/pr.yml
Labels: none

docs: přidat odznáčky
  README.md
Labels: none

docs: upravit obrázky ke stažení
  README.md
Labels: none

fix: přidat licenci na introduction_screen
  lib/okna/about.dart
Labels: pr: okno

refactor: bump version
  CHANGELOG.md
  pubspec.yaml
Labels: pr: pubspec

fix: opravit async v setstate
  lib/okna/nastaveni.dart
  pubspec.yaml
Labels: pr: pubspec, pr: okno

docs: opravit úrovně nadpisů v PP
  PRIVACY.md
Labels: none

docs: přidat odkaz na app store
  README.md
Labels: none

feat: první beta widget
  .huskyrc
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/cz/hernikplays/opencanteen/WidgetProvider.kt
  android/app/src/main/res/layout/widget_layout.xml
  android/app/src/main/res/xml/widget_info.xml
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce

chore: rebase
  .huskyrc
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/cz/hernikplays/opencanteen/WidgetProvider.kt
  android/app/src/main/res/layout/widget_layout.xml
  android/app/src/main/res/xml/widget_info.xml
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce

feat: skoro pracující autoburza
  .idea/libraries/Dart_SDK.xml
  .idea/workspace.xml
  CHANGELOG.md
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable/notif_icon.xml
  android/app/src/main/res/raw/keep.xml
  android/build.gradle
  android/opencanteen_android.iml
  ios/Runner/AppDelegate.swift
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/about.dart
  lib/okna/nastaveni.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

feat: oznámení o neobjednaném jídle
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: opravit chyby po PR
  lib/main.dart
  lib/okna/nastaveni.dart
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

feat: pracovat na oznámení před obědem
  .devcontainer/devcontainer.json
  CHANGELOG.md
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/nastaveni.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

feat: práce na odeslání oznámení před obědem
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
Labels: pr: funkce

feat: dokončit oznámení před obědem
  android/app/build.gradle
  android/app/src/main/res/drawable/notif_icon.xml
  lib/main.dart
  lib/okna/burza.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  lib/okna/welcome.dart
  lib/util.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: aktualizovat licence
  lib/okna/about.dart
Labels: pr: okno

fix: poupravit chování nastavení + tlačítko dnes
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  pubspec.yaml
Labels: pr: pubspec, pr: okno

fix: odstranit nepoužité importy
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
Labels: pr: okno

fix: přidat info o baterii a odstranit zbytecny if
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/nastaveni.dart
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: změnit ID kanálu pro android
  CHANGELOG.md
  lib/main.dart
Labels: pr: funkce

docs: aktualizovat FOSSA badge
  README.md
Labels: none

docs: upravit CONTRIBUTING
  .github/workflows/pr.yml
  CONTRIBUTING.md
Labels: none

docs: přidat komentáře
  lib/main.dart
Labels: pr: funkce

fix: změnit ikonu a varování odhlášení (#18)
  CHANGELOG.md
  README.md
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/okna/jidelnicek.dart
  pubspec.yaml
Labels: pr: pubspec, pr: okno

fix: nastavit čas dopředu a zobrazovat 1. variantu
  CHANGELOG.md
  lib/main.dart
  lib/okna/nastaveni.dart
Labels: pr: funkce, pr: okno

fix: opravit odhlášení po kliknutí na ano
  lib/okna/jidelnicek.dart
  pubspec.yaml
Labels: pr: pubspec, pr: okno

fix: upravit podle flutter_lints
  lib/main.dart
  lib/okna/about.dart
  lib/okna/jidelnicek.dart
  lib/okna/nastaveni.dart
  lib/okna/offline_jidelnicek.dart
  lib/okna/welcome.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix: nastavit fixní verze a opravit offline crash
  lib/okna/jidelnicek.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: okno

feat: práce na implementaci výběru více účtů
  lib/loginmanager.dart
  lib/main.dart
  lib/okna/nastaveni.dart
Labels: pr: funkce, pr: okno

feat: přidat výběr z funkčních instancí
  lib/main.dart
  lib/util.dart
Labels: pr: funkce

feat: vylepšit oznámení o neobjednaném jídle
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/okna/jidelnicek.dart
Labels: pr: okno

fix: odstranit print
  lib/okna/jidelnicek.dart
Labels: pr: okno

chore: přidat commitizen
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: none

fix(about): změnit about stránku na AboutDialog
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/okna/about.dart
  lib/okna/jidelnicek.dart
  lib/okna/offline_jidelnicek.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: okno

fix(login): opravit vracení na přihlašovací stránku při vracení zpět
  lib/main.dart
  lib/okna/jidelnicek.dart
  lib/okna/welcome.dart
Labels: pr: funkce, pr: okno

chore: bump verze
  CHANGELOG.md
  pubspec.yaml
Labels: pr: pubspec

docs: přidat stats a copyright
  README.md
Labels: none

fix: aktualizace, změna odkazů a bug fixy
  CHANGELOG.md
  lib/lang/lang.dart
  lib/lang/lang_cz.dart
  lib/lang/lang_en.dart
  lib/main.dart
  lib/okna/jidelnicek.dart
  lib/okna/offline_jidelnicek.dart
  pubspec.lock
  pubspec.yaml
Labels: pr: pubspec, pr: funkce, pr: okno

fix(barmenu): opravit překlep v iTunes URL
  lib/okna/jidelnicek.dart
  lib/okna/offline_jidelnicek.dart
Labels: pr: okno
